body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #313131

}

p {
color:white
}

img {
    width: 350px;
    height: 200px;
}

iframe {
    width: 650px;
    height: 400px;
}

li {
color: white;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

header {
    background-color: rgb(255, 0, 0);
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    margin: 2em;
}

section img {
    max-width: 100%;
}

footer {
    background-color: rgb(255, 0, 0);
    color: #fff;
    padding: 1em;
    text-align: center;
}

.text {
    color: white;
    text-align: center;
}

#about {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  #about img {
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
  }

  
